html, body {
    width: 500px;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    padding: 15px;
    margin-right: 40px;
}
#get-Cbt-btn {
    max-width: 100%;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: aqua;
}
h1 {
    text-align: center;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;

}